@model ForgetPasswordViewModel
@{
	ViewData["Title"] = "ForgetPassword";
	Layout = "~/Views/Shared/_authLayout.cshtml";
}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
	<div class="card shadow-lg p-4 auth-card rounded-4">
		<h2 class="text-center mb-4 text-success fw-bold">Resest Your Password</h2>

		<form asp-action="ForgetPassword" method="post" novalidate>
			<div asp-validation-summary="All" class="text-danger mb-3"></div>

			<!-- Email -->
			<div class="mb-3 input-group">
				<span class="input-group-text bg-success text-white"><i class="bi bi-envelope"></i></span>
				<input asp-for="Email" class="form-control" placeholder="Email" />
			</div>
			<span asp-validation-for="Email" class="text-danger"></span>

			<!-- Submit -->
			<button type="submit" class="btn btn-success w-100 fw-bold py-2 rounded-pill">
				Submit
			</button>
		</form>

	</div>
</div>

