@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_authLayout.cshtml";
}



<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg p-4 auth-card rounded-4">
        <h2 class="text-center mb-4 text-success fw-bold">Welcome Back</h2>

        <form asp-action="ResetPassword" method="post" novalidate>
            <div asp-validation-summary="All" class="text-danger mb-3"></div>
            <input asp-for="Email" type="hidden" />
            <input asp-for="Token" type="hidden" />
            
            <!-- Password -->
            <div class="mb-3 input-group">
                <span class="input-group-text bg-success text-white"><i class="bi bi-lock"></i></span>
                <input asp-for="Password" class="form-control" type="password" placeholder="Password" />
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
            <!-- Password -->
            <div class="mb-3 input-group">
                <span class="input-group-text bg-success text-white"><i class="bi bi-lock"></i></span>
                <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="ConfirmPassword" />
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            <!-- Submit -->
            <button type="submit" class="btn btn-success w-100 fw-bold py-2 rounded-pill">
                Reset
            </button>
        </form>

    </div>
</div>